{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<body>
    
<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Проблемы со сном?</h1>
      <p class="lead fw-normal">Мы собрали для вас возможные причины проблем со сном.</p>
      <a class="btn btn-outline-secondary" href="/">На главную</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Трудности засыпания</h2>
        <p class="lead">Причин таких трудностей засыпания может быть множество, в частности, недостаточная усталость, нахождение длительное время днем в постели, нерегулярное время засыпания, тревога, заболевания, вызывающие зуд или боль. Симптомы значительно ослабевают или исчезают вовсе при движении. Наилучший эффект чаще всего оказывает обычная ходьба или просто стояние.</p>
      </div>
    </div>
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Проблемы с поддержанием сна</h2>
        <p class="lead">Проблемы с поддержанием сна в основном заключаются в частых пробуждениях, после которых трудно заснуть снова, и ощущении «поверхностного» сна. Причины пробуждения могут быть самыми разными (сны, страхи, кошмары, нарушение дыхания, сердцебиения, позывы к мочеиспусканию).</p>
      </div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Синдромо апноэ</h2>
        <p class="lead">Это дыхательное расстройство возникает во время храпа из-за спадания тканей глоточного кольца при вдохе и характеризуется кратковременной остановкой дыхания, что сопровождается снижением уровня кислорода крови и прерыванием сна. Во многих случаях частое пробуждение ночью связано с синдромом апноэ во сне.</p>
      </div>
    </div>
    <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Болезни</h2>
        <p class="lead">Чаще всего хроническая бессонница бывает симптомом неврологических и психических заболеваний. Жалобы на плохой сон характерны для пациентов с инсультом, деменцией, болезнью Паркинсона, Альцгеймера. Такие психические заболевания, как депрессия, шизофрения, тревожно-маниакальные состояния, также сопровождаются нарушением сна. Частые пробуждения могут быть следствием сердечно-сосудистых (аритмии, артериальная гипертензия), легочных (ХОБЛ), костно-мышечных (артриты, ревматизм), мочеполовых (простатит, недержание мочи) и эндокринных заболеваний.</p>
      </div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Врачи</h2>
        <p class="lead">Первоначально следует обратиться к врачу-терапевту, чтобы определить истинную причину бессонницы и выявить возможные сопутствующие заболевания, которые могут вести к нарушению сна. При подозрении на депрессивный синдром необходимо проконсультироваться с психотерапевтом или неврологом. При успешном лечении психоневрологических расстройств сон, как правило, нормализуется. В том случае, когда диагностика нарушения сна затруднена, терапевт направляет пациента к сомнологу.</p>
      </div>
    </div>
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Диагностика и обследования при нарушениях сна</h2>
        <p class="lead">При диагностике нарушений сна в первую очередь следует понять, имеет ли бессонница первичный или вторичный характер. Следует иметь в виду, что около 80% случаев нарушений сна вызвано различными заболеваниями. Наряду с жалобами на плохой сон следует учитывать следующие факторы: храп, лишний вес, артериальную гипертензию, неврологические нарушения (перенесенный инсульт, черепно-мозговая травма), наличие заболеваний, которые по ночам могут давать болевой синдром (ревматизм, миалгии, артриты различной этиологии) или зуд (псориаз, герпес, заболевания щитовидной железы и печени).</p>
      </div>
    </div>
  </div>
</main>

      
  

</body>
{% endblock %}